<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "br.eti.util.test"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>My test</name>
 
    <description>
        Just testing
    </description>
 
    <author href="http://util.eti.br" email="gutierre.bessauer@gmail.com">
        Gutierre Bessauer
    </author>
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	<feature name="http://tizen.org/api/application" required="true"/>
	<feature name="http://tizen.org/api/application.launch" required="true"/>
</widget>